@import '../abstract/variaveis';

#bemestar {
    margin: 80px;
    text-align: center;

    .img-bemestar {
        img {
            max-width: 100%;
        }
    }

    .textos {
        h3 {
            font-size: $tamanho-do-texto / 1.2;
            color: $cor-secundaria;
            font-weight: 300;
        }

        h4 {
            font-size: $tamanho-do-texto / 2;
            font-weight: 300;
            color: $cor-primaria;
            margin-bottom: 1rem;
        }

        p {
            font-weight: 300;
            color: $cor-primaria;
            letter-spacing: 2px;
            line-height: 1.5rem;
        }
    }
}