@import '../abstract/variaveis';

nav {
    text-align: center;
    ul {
        li {
            display: inline-block;
            padding: 1rem;
            a {
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 700;
                color: $cor-primaria;
                &:hover {
                    color: $cor-secundaria;
                    border-bottom: 2px solid $cor-secundaria;
                }
            }
        }
    }
}